.StartScreen {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #003459;
  justify-items: center;
  text-align: center;
  z-index: 11;
}

.StartScreenHeader {
  max-width: 50rem;
  padding: 2% 5%;
}

.FiguresBox {
  display: flex;
  justify-content: center;

  .Figures {
    width: 100%;
    max-height: 60vh;
    max-width: 650px;
    position: fixed;
    bottom: 0;
  }
}