.StartScreen {
  position: absolute;
  left: 0;
  top: 0;
  width: 48.7rem;
  border-radius: 0.3rem;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);

  h1,
  p {
    filter: drop-shadow(0 0 16px var(--primary-color));
  }
}

.StartSreenHeader {
  font-size: 4rem;
  color: var(--primary-color);
  align-items: center;
  text-align: center;
  transition: all 350ms ease-out;
}

.StartScreenInformation {
  margin: 1.8rem 1rem;
  color: var(--primary-color);
  font-size: 2.3rem;
  align-items: center;
  text-align: center;
  transition: all 350ms ease-out;
}

.LottieStartScreenStyle {
  position: absolute;
  left: 8.8rem;
  bottom: -0.8rem;
  z-index: 20;
  height: 19rem;
}
