rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isUserFromComputasDomain() {
      return request.auth.token.email_verified && request.auth.token.email.matches(".*@computas.com")
    }

    function isAuthenticated() {
      return request.auth.uid != null;
    }

    match /Events/{document=**} {
      allow read: if true;
      allow write: if isAuthenticated() && isUserFromComputasDomain();
    }

    match /Scores/{document=**} {
      allow read: if true;
      allow write: if isAuthenticated();
    }

    match /Settings/{document=**} {
      allow read: if true;
      allow write: if isAuthenticated() && isUserFromComputasDomain();
    }

    match /Winners/{document=**} {
      allow read: if true;
      allow write: if isAuthenticated() && isUserFromComputasDomain();
    }

    //match /{document=**} {
    //  allow read, write: if isAuthenticated();
    //}
  }
}
