.Button {
  margin: 0;
  padding: 1rem;
  border: none;
  border-radius: 0.5rem;
  font-weight: 700;
  color: var(--button-label-color);
  cursor: pointer;

  &.normal {
    padding: 0.5rem 0.8rem;
    font-size: 1.4rem;
  }

  &.large {
    padding: 1rem 1.4rem;
    font-size: 1.8rem;
  }

  &.xlarge {
    padding: 1.5rem 2.5rem;
    font-size: 2.2rem;
  }

  &.round {
    width: 4.7rem !important;
    height: 4.7rem;
    padding: 0.5rem;
    border-radius: 50%;
  }

  &.primary {
    background: var(--primary-button-color);
  }

  &.secondary {
    background: var(--secondary-button-color);
  }

  &.white {
    background: white;
  }

  &.clear {
    background: transparent;
  }

  &:disabled {
    background: lightgray;
    cursor: default;
  }
}

.MusicButton {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  height: 4.7rem;
  margin: 0;
}
