.CountDown {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 11;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(2px);
  background: rgba(0, 52, 89, 0.8);
  display: grid;
  align-items: center;
  text-align: center;

  .countDownText {
    font-size: 15rem;
    font-weight: 700;
    text-shadow: 0 0 2rem white;
    color: white;

    &[data-value='3'] {
      color: #29cff5;
    }

    &[data-value='2'] {
      color: #fed546;
    }

    &[data-value='1'] {
      color: #ff5f63;
    }

    &:after {
      content: attr(data-value);
    }
  }
}
