.CountDown {
  display: grid;
  position: absolute;
  left: 0.5rem;
  top: 0.5rem;
  z-index: 11;
  width: 47.5rem;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  align-items: center;
  text-align: center;

  .countDownText {
    font-size: 15rem;
    font-weight: 700;
    text-shadow: 0 0 2rem white;
    color: white;

    &[data-value='3'] {
      color: #29cff5;
    }

    &[data-value='2'] {
      color: #fed546;
    }

    &[data-value='1'] {
      color: #ff5f63;
    }

    &:after {
      content: attr(data-value);
    }
  }
}
