.ScorePage {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  justify-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background-color);
  text-align: center;

  .form {
    width: 38rem;
    color: white;
    text-align: left;
    font-size: 1.6rem;
    font-weight: 400;

    button {
      display: block;
      width: auto;
      margin: 0 auto;

      + button {
        margin-top: 3rem;
      }
    }

    .formRowColumned {
      display: grid;
      grid-gap: 0.8rem;
      align-items: start;
      margin-top: 2rem;

      label.aligned {
        display: grid;
        grid-template-columns: 3rem auto;
        align-items: center;
      }
    }

    p {
      font-size: 2rem;
    }
  }

  .disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  svg * {
    stroke: white !important;
  }

  .centered {
    text-align: center;
  }
}

.ScorePageScore {
  padding-bottom: 3rem;
  color: var(--primary-button-color);
  font-size: 5rem;
  font-weight: 700;
}

.ScorePageRank {
  color: var(--color-secondary);
  font-size: 3.6rem;
  font-weight: 700;
  padding-bottom: 5rem;
}

.ScorePageDescription,
.ScorePageText {
  width: auto;
  margin: 0 auto;
  padding-bottom: 3rem;
  color: white;
  font-size: 4rem;
  font-weight: 700;
  text-align: center;
}

.ScorePageText {
  padding-bottom: 4rem;
  font-size: 3.6rem;
}

.Tetromino {
  padding: 2rem;
}

.Column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  &:first-of-type {
    justify-self: end;
  }

  &:last-of-type {
    justify-self: start;
  }
}

.FormColumn {
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  max-height: 100vh;
}

.TopScoreOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 52, 89, 0.6);
  backdrop-filter: blur(0.3rem);
  z-index: 3;
}

.TopScoreOverlayBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 25%;
  background-color: rgb(0, 52, 89);
  border-radius: 1rem;
  filter: drop-shadow(0 0 2.4rem var(--primary-color));
  border: var(--primary-button-colorm) solid 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.TopScoreOverlayText {
  color: var(--primary-button-color);
  line-height: 5rem;
  font-size: 3.5rem;
  text-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.25);
}
