.ScorePage {
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: 25% 50% 25%;
  justify-items: center;
  width: 100%;
  height: 100%;
  background-color: #003459;
  text-align: center;
}

.ScorePageScore {
  color: #FED546;
  font-size: 3rem;
  padding-bottom: 3rem;
}

.ScorePageRank {
  color: var(--color-secondary);
  font-size: 2rem;
  padding-bottom: 3rem;
}
.ScorePageDescription {
  color: #fff;
  width: 15rem;
  margin: 0 auto;
  font-size: 2rem;
  padding-bottom: 3rem;
}

.ScorePageButton {
  button {
    background-color: #FED546;
    border: none;
    border-radius: 0.5rem;
    font-weight: 700;
    padding: 1rem;
    cursor: pointer;
  }
  padding-bottom: 3rem;
}
.Tetromino {
  padding: 2.6rem;
}
.ButtonText {
  padding: 1rem;
  color: #003459;
  font-size: 2rem;
}

.Column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.TopScoreOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 52, 89, 0.6);
  backdrop-filter: blur(0.3rem);
  z-index: 3;
}

.TopScoreOverlayBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 25%;
  background-color: rgb(0, 52, 89);
  border-radius: 1rem;
  filter: drop-shadow(0rem 0rem 2.4rem #29cff5);
  border: #FED546 solid 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.TopScoreOverlayText {
  color: #FED546;
  line-height: 5rem;
  font-size: 3.5rem;
  text-shadow: 0rem 1rem 1rem rgba(0, 0, 0, 0.25);
}
