.ScorePage {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  justify-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background-color);
  text-align: center;

  .form {
    width: 60rem;
    text-align: left;
    font-size: 1.6rem;
    font-weight: 400;
    color: white;

    button {
      width: auto;
      margin: 0;
    }

    .formRowColumned {
      display: grid;
      grid-template-columns: 35rem auto;
      grid-gap: 2rem;
      align-items: start;
      margin-top: 2rem;

      label.aligned {
        margin: 2.8rem 0 0;
      }
    }
  }

  .disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  .centered {
    text-align: center;
  }
}

.ScorePageScore {
  color: var(--primary-button-color);
  font-size: 3rem;
  padding-bottom: 3rem;
}

.ScorePageRank {
  color: var(--color-secondary);
  font-size: 2rem;
  padding-bottom: 3rem;
}

.ScorePageDescription {
  color: white;
  width: 15rem;
  margin: 0 auto;
  font-size: 2rem;
  padding-bottom: 3rem;
}

.Tetromino {
  padding: 2.6rem;
}

.Column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.TopScoreOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 52, 89, 0.6);
  backdrop-filter: blur(0.3rem);
  z-index: 3;
}

.TopScoreOverlayBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 25%;
  background-color: rgb(0, 52, 89);
  border-radius: 1rem;
  filter: drop-shadow(0 0 2.4rem var(--primary-color));
  border: var(--primary-button-colorm) solid 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.TopScoreOverlayText {
  color: var(--primary-button-color);
  line-height: 5rem;
  font-size: 3.5rem;
  text-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.25);
}
