.mainScreen {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.alignTop {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
  padding: 1rem;
  width: calc(7.4rem + 58vh);
  max-width: calc(100vw - 4.9rem);
}

.Tetris {
  height: 100%;

  .Board {
    margin: 0 auto;
    outline: none;

    > section {
      display: grid;
      grid-template-columns: auto 13rem;
      position: relative;
    }
  }

  aside {
    display: flex;
    flex-direction: column;
  }
}

.TrialCounter {
  padding: 3rem;
  column-gap: 2.5rem;
  margin-right: 2.5rem;
  display: grid;
  justify-content: center;
  grid-auto-flow: column;
  color: white;
  font-weight: 700;
  font-size: 2.8rem;
}

.VerticalTetrisLogo {
  position: relative;
  height: calc(100vh - 31.5rem);
  max-height: calc(160vw - 43rem);
  top: 1rem;
  left: 1rem;
}

.ComputasLogo {
  width: 12.3rem;
  position: relative;
  top: -1rem;
}
