.DrawWinner {
  padding: 0 2rem;
  color: white;
  font-size: 1.8rem;
  text-align: center;

  .Buttons {
    margin: 2rem 0 4rem;
  }

  .Columned {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
  }

  .SpinWheel {
    align-self: start;
  }

  .Winners {
    align-self: start;
    margin-top: 3rem;

    h2 {
      margin-top: 0;
    }

    ul {
      list-style: none;
      margin: 0 0 2.5rem;
      padding: 0;

      li {
        padding: 1rem;
        border-radius: 0.5rem;
        background: var(--tertiary-color);
        text-align: left;
        font-size: 2rem;

        + li {
          margin-top: 0.5rem;
        }
      }

      &.HighscoreWinners {
        li {
          display: grid;
          grid-template-columns: 3rem auto 10rem;
        }
      }
    }
  }

  .Winner {
    display: inline-block;
    min-width: 50rem;
    border-radius: 2.5rem;
    margin-top: 10rem;
    padding: 2rem;
    background: gold;
    color: var(--background-color);
    animation: fadeOut 5s linear;
    animation-fill-mode: forwards;

    h2 {
      margin: 0;
      font-size: 4rem;
    }

    span {
      display: block;
      font-size: 2.5rem;
    }
  }

  .Drawing {
    animation: spin 3s linear infinite;
    animation-fill-mode: forwards;
  }
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
