.GameOver {
  display: grid;
  position: absolute;
  left: 0.5rem;
  top: 0.5rem;
  width: 47.7rem;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  color: var(--primary-color);
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  align-items: center;
  text-align: center;
  font-size: 4rem;
  transition: all 350ms ease-out;
  z-index: 2;
}
