.GameOver {
  display: grid;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(0.2rem);
  background: rgba(0, 52, 89, 0.8);
  color: var(--primary-color);
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  align-items: center;
  text-align: center;
  font-size: 4rem;
  transition: all 350ms ease-out;
  z-index: 11;

  .GameOverText {
    font-size: 7rem;
    font-weight: 700;
    text-shadow: 0 0 2rem #29CFF5;
    color: #49bca1;
  }
}
