.GameOver {
  display: grid;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(0.2rem);
  background: rgba(0, 52, 89, 0.8);
  color: var(--primary-color);
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  align-items: center;
  text-align: center;
  font-size: 4rem;
  transition: all 350ms ease-out;
  z-index: 11;

  .GameOverText {
    font-size: 7rem;
    font-weight: 700;
    text-shadow: 0 0 2rem var(--primary-color);
    color: var(--tetromino-color-4);
  }

  .Entered {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 52, 89);
    // border-radius: 1rem;
    filter: drop-shadow(0 0 2.4rem var(--primary-color));
    // border: var(--primary-button-colorm) solid 0.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;

    .FiguresBox {
      display: flex;
      justify-content: center;
  
      .Figures {
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        max-height: calc(100vh - 42rem);
        transform: scale(1.3);
      }
    }
  }

  .EnteredText {
    position: fixed;
    top: 10%;
    right: 10%;
    width: 60%;
    color: white;
    // line-height: 7rem;
    font-size: 7rem;
    text-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.25);
  }
}
