.TrialScreen {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #003459;
  text-align: center;
  z-index: 11;
}

.FiguresBox {
  display: flex;
  justify-content: center;

  .Figures {
    width: 120%;
    max-width: 100rem;
    position: fixed;
    bottom: 0;
  }
}

.Button {
  padding-bottom: 3rem;
}

.StartScreenHeader {
    max-width: 50rem;
    padding: 2% 5%;
}

.TrialPromptDescription {
  font-weight: 700;
  color: #FFFFFF;
  font-size: 3.5rem;
  padding: 5rem 7rem;
}