.Settings {
  height: 100vh;
  padding: 0 2rem;
  background: white;
  font-size: 1.4rem;
  overflow: auto;

  > header {
    position: sticky;
    top: 0;
    z-index: 10;
    margin: 0rem -2rem 0;
    padding: 0.1rem 2rem;
    background: white;
  }

  p {
    padding: 0 0 2rem;
    font-size: 1.8rem;
  }

  .warning {
    color: red;
  }

  .row {
    + .row {
      margin-top: 2rem;
    }

    .columned {
      display: grid;
      grid-template-columns: 20rem 40rem 5rem;
    }

    > label {
      display: block;
      font-weight: 600;

      + p {
        margin-top: 0.5rem;
        font-size: 1.4rem;
      }
    }

    &:last-of-type {
      padding-bottom: 7rem;
    }
  }

  hr {
    width: 65rem;
    height: 0.1rem;
    margin: 4rem 0;
    border: 0;
    background: #eee;
  }
}
