.Highscores {
  padding: 2rem;
  color: var(--primary-color);
  font-size: 2rem;

  h1 {
    margin: 0;
  }

  li {
    padding: 0.5rem;
    background: var(--tertiary-color);

    + li {
      margin-top: 0.3rem;
    }

    div {
      display: grid;
      grid-template-columns: 10rem auto;
      grid-gap: 2rem;

      span:first-child {
        text-align: right;
      }
    }
  }
}
