.Stage {
  background: var(--stage-frame-color);
  border: 1rem solid var(--stage-frame-color);
  border-radius: 0.5rem 0 0.5rem 0.5rem;
  outline: none;
}

.Row {
  display: flex;
  grid-template-columns: repeat(12, 1fr);

  .Cell {
    height: calc(5vh - 1.2rem);
    max-height: calc(8.3vw - 2rem);
    width: calc(5vh - 1.2rem);
    max-width: calc(8.3vw - 2rem);
    background: var(--background-color);
    margin: 0.1rem;

    &[data-color='0'] {
      border: 0;
    }
  }
}

.Cell {
  background: transparent;
  color: white;
  text-align: center;
  border-radius: 0.3rem;
  box-shadow: inset -2px -2px 0 rgba(0, 25, 44, 0.5),
    inset 2px 2px 0 rgba(255, 255, 255, 0.7);

  &[data-color='0'] {
    box-shadow: none;
  }
  &[data-color='1'] {
    background: var(--tetromino-color-1);
  }
  &[data-color='2'] {
    background: var(--tetromino-color-2);
  }
  &[data-color='3'] {
    background: var(--tetromino-color-3);
  }
  &[data-color='4'] {
    background: var(--tetromino-color-4);
  }
  &[data-color='5'] {
    background: var(--tetromino-color-5);
  }
  &[data-color='6'] {
    background: var(--tetromino-color-6);
  }
  &[data-color='7'] {
    background: var(--tetromino-color-7);
  }

  &[data-color='201'],
  &[data-color='202'],
  &[data-color='203'],
  &[data-color='204'],
  &[data-color='205'],
  &[data-color='206'],
  &[data-color='207'] {
    box-shadow: none;
    background: var(--background-color);
    border: var(--border);
    filter: drop-shadow(0 0 8px var(--secondary-color));
    opacity: 1;
    z-index: 10;
  }
}
