.Next {
  border-radius: 0 0.5rem 0.5rem;
  padding: 0.3rem;
  margin-top: -0.5rem;
  box-sizing: border-box;
  background: #f2f5f7;
  font-size: large;
  height: 6rem;
  width: 6rem;

  .tetromino {
    display: grid;
    width: 3rem;
    margin: 0.3rem auto;
    grid-template-rows: 1rem 1rem 1rem 1rem;

    .row {
      display: grid;
      grid-template-columns: 1rem 1rem 1rem;
    }

    .cell {
      background: black;
      color: white;
      text-align: center;
      border: 0.1rem outset inherit;
      box-sizing: border-box;
      transition: opacity 150ms ease-out;
    }
  }
}
