.Display {
  display: flex;
  justify-content: space-between;
  width: 23.5rem;
  height: 4.1rem;
  margin-bottom: 2rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-size: 1.8rem;
  font-weight: 700;
  user-select: none;
  align-items: center;

  &.columned {
    span {
      &:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}
