:root {
  --background-color: #003459;
  --primary-color: #2acff5;
  --secondary-color: #21a4c2;
  --tertiary-color: #003c66;
  --border: 0.3rem solid white;

  --primary-button-color: #fed546;
  --secondary-button-color: #ff5f63;
}

* {
  user-select: none;
  box-sizing: border-box;
}

html {
  display: grid;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-size: 62.5%;
}

body {
  margin: 0;
  background: #123;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  touch-action: pan-y;
}

button {
  font-family: inherit;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
